ul{color:brown;
padding:0px;
margin-right:20px;
list-style-type:none;}

footer
{
text-align:center;
}

li{display:inline-block;
margin-right:20px;
}

li{ display: inline-block:
border-radius:30px;
padding:2px;
margin-left:0;}
